.profile{
background-color: lightgrey;

} 

.description{
    
    margin-left: 30px;
}

.avatar {
    margin-top: 20px;
    margin-left: 50px;
    width: 300px;
    height: 300px;
    border:solid 2px;
    border-radius: 50%;
}
.name {
    margin-left: 50px;

    
}

.tag {
    margin-left: 120px;
}


.stats {
    display: flex;
       justify-content: space-around;
align-items: center;
margin-right: 50px; 
}

.followers {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.views {
    margin-left: 30px;
    margin-right: 30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin-left: 10px;
    margin-right: 10px;
}

.likes{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
