.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
margin-top: 100px;

}
.title{
/* margin-left: 60px; */
background-color: rgb(197, 197, 233);
margin-bottom: 0px;
}

.statlist{
     display:flex;
    
    justify-content: center;
    align-items: center;
}

.item{
     display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color:rgb(222, 220, 220);
}

.label{

}

.percentage{

}